# ==========================================
# CREDENCIALES SAP BUILD PROCESS AUTOMATION
# ==========================================

SAP_IRPA_AUTH_URL="tu-url-de-autenticacion-sap-build-process-automation"

SAP_IRPA_CLIENT_ID="tu-client-id-sap-build-process-automation"

# Con comillas dobles, el $ queda literal sin necesidad de escaparlo
SAP_IRPA_CLIENT_SECRET="tu-client-secret-sap-build-process-automation-con-escape-si-es-necesario\$RE-JXAFgvx1hAl_XW7t4-SP7gpVnTO76H7WdWeQAaX8="

SAP_IRPA_URL="tu-url-sap-build-process-automation"

SAP_IRPA_API_KEY="tu-api-key-sap-build-process-automation"


# Configuración de Base de Datos
DATABASE_URL="postgresql://usuario:contraseña@localhost:5432/nombre_base_datos"
DIRECT_URL="postgresql://usuario:contraseña@localhost:5432/nombre_base_datos"

# Seguridad
JWT_SECRET="tu-super-secreta-clave-jwt-para-desarrollo-2026"
