# Configuración de Base de Datos
DATABASE_URL="postgresql://usuario:contraseña@localhost:5432/nombre_base_datos"

# Seguridad
# Genera un string seguro de al menos 32 caracteres (por ejemplo usando: openssl rand -base64 32)
JWT_SECRET="tu-super-secreta-clave-jwt-para-desarrollo-2026"
